# Files too large for LFS
# Files too large for LFS
Data/C3_images/*
Data/Calindrinia/*
Data/large_images/*
Data/Portulaca/*
Data/SampleSheet/numbers
Scripts/__pycache__/*
*.pyc
Notebooks/.ipynb_checkpoints/*
